<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Relationship Capital - @ViewBag.Title -</title>
    <!--Google Fonts-->
    <link href='Content/Company/fonts/quicksand.css' rel='stylesheet' type='text/css'>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <!-- Bootstrap Core CSS -->
    <link href="Content/Company/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="Content/Company/css/company.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="Content/Company/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="Content/Company/fonts/montserrat.css" rel="stylesheet" type="text/css">
    <link href='Content/Company/fonts/kaushan.script.css' rel='stylesheet' type='text/css'>
    <link href='Content/Company/fonts/droid.serif.css' rel='stylesheet' type='text/css'>
    <link href='Content/Company/fonts/roboto.slab.css' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="Content/Company/js/html5shiv.js"></script>
        <script src="Content/Company/js/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery Version 1.11.0 -->
    <script src="Content/Company/js/jquery-1.11.0.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="Content/Company/js/bootstrap.min.js"></script>

</head>
<body id="page-top" class="index">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="header-circle let-ack-circle R-embelish"></div>
                <div class="header-circle let-ack-circle C-embelish"></div>
                <a class="navbar-brand page-scroll top-logo-fixed" style="color:#fff;" href="#page-top">Relationship Capital</a>
                <a class="navbar-brand page-scroll top-logo-short hide" style="position:absolute;color:#fff;left: 104px;" href="#page-top">R&nbsp;&nbsp;&nbsp;C</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right navItemSelector customHide">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#instructions">Instructions</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Company</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Header -->
    <!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide" style="min-height: 900px;">
        @RenderSection("ImageSlider", true)

        <div class="container">
            <div style="left: 0px; top: 20px;width: 100px;  height: 100px;opacity: 0.3;  filter: alpha(opacity=70);" class="slogan-circle"></div>
            <div style="left: 61px; top: -8px;width: 75px;  height: 75px;opacity: 0.7;  filter: alpha(opacity=70);" class="slogan-circle"></div>
            <div style="left: 61px; top: 57px;width: 100px;  height: 100px;opacity: 0.6;  filter: alpha(opacity=70);" class="slogan-circle"></div>
            <div style="left: 153px; width: 120px;  height: 120px;opacity: 0.7;  filter: alpha(opacity=70);" class="slogan-circle"></div>
            <div style="left: 408px; top: -64px;width: 110px;  height: 110px;opacity: 0.7;  filter: alpha(opacity=70);" class="slogan-circle"></div>
            <div style="left: 245px; top: 33px;width: 105px;  height: 105px;opacity: 0.7;  filter: alpha(opacity=70);" class="slogan-circle"></div>
            <div style="left: 200px; top: 65px;width: 120px;  height: 120px;opacity: 0.7;  filter: alpha(opacity=70);" class="slogan-circle"></div>
            <div style="left: 292px; top: -60px;width: 120px;  height: 120px;opacity: 0.7;  filter: alpha(opacity=70);" class="slogan-circle"></div>
            <div style="left: 300px; top: 73px;width: 90px;  height: 90px;opacity: 0.7;  filter: alpha(opacity=70);" class="slogan-circle"></div>
            <div style="left: 98px; top: -65px;width: 120px;  height: 120px;opacity: 0.8;  filter: alpha(opacity=70);" class="slogan-circle"></div>
            <div style="left: 173px; top: 2px;width: 120px;  height: 120px;opacity: 0.7;  filter: alpha(opacity=70);" class="slogan-circle"></div>
            <div style="left: 332px; top: -4px;width: 90px;  height: 90px;opacity: 0.8;  filter: alpha(opacity=70);" class="slogan-circle"></div>
            <div style="left: 60px; top: 184px;width: 40px;  height: 40px;opacity: 0.6;  filter: alpha(opacity=70);" class="slogan-circle"></div>
            <div style="left: 235px; top: -78px;width: 120px;  height: 120px;opacity: 0.7;  filter: alpha(opacity=70);" class="slogan-circle"></div>
            <div class="intro-text">
                @if ((null != TempData["Message"])
                    && (!String.IsNullOrWhiteSpace(TempData["Message"].ToString())))
                {
                                    <!-- Button trigger modal -->
                    <button id="launchModal" style="display:none;" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                        
                    </button>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#launchModal').click();
                        });
                    </script>
                                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="color:#2E598F;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Response Submitted</h4>
                                </div>
                                <div class="modal-body">
                                    @TempData["Message"].ToString()
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="col-lg-4 col-lg-offset-8 login-form">
                    @RenderSection("LoginForm", true)
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a style="width:100px;" class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a style="width:100px;" class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Services Section -->
    <section id="instructions">
        <div class="container">
            @RenderSection("Instructions")
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            @RenderSection("Company")
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            @RenderSection("Team")
        </div>
    </section>

    <!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            @RenderSection("Clients")
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            @RenderSection("ContactForm")
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Relationship Capital @DateTime.Now.Year </span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Plugin JavaScript -->
    <script src="Content/Company/js/jquery.easing.min.js"></script>
    <script src="Content/Company/js/classie.js"></script>
    <script src="Content/Company/js/cbpAnimatedHeader.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="Content/Company/js/jqBootstrapValidation.js"></script>
    <script src="Content/Company/js/contact_me.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="Content/Company/js/company.js"></script>
</body>
</html>
