@model Social.App.Web.Models.Application.ViewModels.ProfileFooterViewModel

<div class="row">
    <div class="col-sm-6">
        @if (null != Model.TwitterHandle)
        {
            <a href="@Model.TwitterHandle.URL">Twitter</a>
            <small class="text-muted">|</small>
        }
        @if (null != Model.FacebookHandle)
        {
            <a href="@Model.FacebookHandle.URL">Facebook</a>
            <small class="text-muted">|</small>
        }
        @if (null != Model.FacebookHandle)
        {
            <a href="@Model.GoogleHandle.URL">Google+</a>
        }
    </div>
</div>
<div class="row" id="footer">
    <div class="col-sm-6"></div>
    <div class="col-sm-6">
        <p><a href="@Model.CopyrightURL" class="pull-right">@Model.Copyright</a></p>
    </div>
</div>
<hr>
    <h4 class="text-center">@Model.FooterText</h4>
<hr>