@model Social.App.Web.Models.Application.ViewModels.ProfileSideNavigationViewModel

<!-- sidebar -->
<div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li>
            <a href="#" data-toggle="offcanvas" class="visible-xs text-center">
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        </li>
    </ul>
    <ul class="nav hidden-xs" id="lg-menu">
        @foreach (var ele in Model.NavItems)
        {
            <li class="@(ele.IsActive ? "active" : "" )">
                <a href="@ele.URL">
                    <i class="glyphicon @ele.Glyphicon"></i> @ele.Name
                </a>
            </li>
        }
    </ul>
    <ul class="list-unstyled hidden-xs" id="sidebar-footer">
        <li>
            <a href="#"><h3>@Model.CompanySideText</h3> <i class="glyphicon glyphicon-heart-empty"></i> @Model.CompanyName</a>
        </li>
    </ul>
    <!-- tiny only nav-->
    <ul class="nav visible-xs" id="xs-menu">
        @foreach (var ele in Model.NavItems)
        {
            <li class="@(ele.IsActive ? "active" : "" )">
                <a href="@ele.URL" class="text-center">
                    <i class="glyphicon @ele.Glyphicon"></i>
                </a>
            </li>
        }
    </ul>
</div>
<!-- /sidebar -->
